<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="assets/css/main.css" rel="stylesheet">
    <script src="config/site-config.js"></script>
</head>

<body>
    <div id="header-container"></div>
    <script>
        fetch('../components/header.html')
            .then(response => response.text())
            .then(data => {
                const fragment = document.createRange().createContextualFragment(data);
                document.getElementById('header-container').appendChild(fragment);
            });
    </script>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            {{ content }}
        </main>
    </div>


    <div id="footer-container"></div>


    <script>
        fetch('../components/footer.html')
            .then(response => response.text())
            .then(data => {
            //    document.getElementById('footer-container').innerHTML = data;
            const fragment = document.createRange().createContextualFragment(data);
                document.getElementById('footer-container').appendChild(fragment);
            });
    </script>
</body>
</html>